version: "3"
services:
  cli:
    image: okteto/cli
    build: .
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - I2KIT_REGION=us-west-2
      - I2KIT_HOSTED_ZONE
      - I2KIT_SECURITY_GROUP
      - I2KIT_SUBNET
      - I2KIT_KEYPAIR
      - I2KIT_INSTANCE_TYPE
    volumes:
      - ./service.yml:/root/i2kit/service.yml
  test:
    image: golang:1.9.0-alpine3.6
    working_dir: /go/src/github.com/pchico83/i2kit/cli
    volumes:
      - .:/go/src/github.com/pchico83/i2kit/cli
    command: go test ./...
